@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400&display=swap&subset=chinese-traditional');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Noto Sans TC", sans-serif;
}

.vertical-divider {
  width: 0;
  height: 70%;
  margin: 0 .5rem;
  overflow: hidden;
  border-left: 1px solid #e9ecef ;
}
